{% extends "base.html.twig" %}

{% block title %} Back office {% endblock %}

{% block body %}

<style>
    body {
        background-color: #4B96D2;
    }
    * {
        color: #DBDDDE;
    }
    h1 {
        font-size: 70px;
        text-align: center;
    }
    a {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
    #message-div {
        display:flex;
        justify-content:center;
    }
</style>
 

         <h1>Back office</h1>
          {% if app.user.roles[0] == "ROLE_ADMIN" %}
             <div style="display: flex; justify-content: space-around;">
               <div>
                   <a href="{{path("admin")}}">Vos Propriétés</a>   
               </div>
               <div>
                   <a href="{{path("billsAdmin")}}">Vos facture</a>        
               </div>
             </div>
          {% endif %}


          {% if app.user.roles[0] == "ROLE_OWNER" %}
          <div style="margin-left: 100px;">
               <a href="{{ path("owner") }}">Vos propriétés</a>        
          </div>
          {% endif %}


       <div id="message-div">
          <div>
             <p>Notre site est actuellement en cours de programmation</p>
             <p>Pour plus d'information, contactez notre ☻webmaster☻ Ivo au :01 23 45 67 89 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 20</p>
          </div>
       </div>


         

        
    
        
{% endblock %}