{% extends "base.html.twig" %}

{% block body %}

<style>
    body {
        background-color: #4B96D2;
    }
    * {
        color: #DBDDDE;
    }
    h1 {
        font-size: 70px;
        text-align: center;
    }
     h2 {
        font-size: 30px;
        text-align: center;
    }
    a {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
    input {
        width: 830px;
        height: 120px;
        font-size: 80px;
    }
</style>



     <h1>C☻nnexi☻n</h1>
     <h2>ça c'est de l'input !</h2>

<div style="display:flex; justify-content: center;">
    <div>
        <form action="{{ path('security_login') }}" method="post">
           <div>
               <input placeholder="Adresse email..." required name="_username" 
               type="text">
           </div>
           <div>
               <input placeholder="Mot de passe..." required name="_password" 
                type="text">
           </div>
           <div>
               <input type="submit" style="background-color: #58DAB0; color:#0A7351;">
           </div>
               {% if error %}
                         <div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
                {% endif %}
        </form>
    </div>
</div>

     
{% endblock %}