{% extends "base.html.twig" %}

{% block title %} Detail d'une annonce {% endblock %}

{% block body %}
       
<style>
      body {
            background-color: pink;
      }
</style>
         
         

      
             <div>
                 <h1 style="text-align:center;">{{ type.label }}</h1>
             </div>


             <div style="display:flex; justify-content:center;">
                 <div>
                     <img src="{{ vich_uploader_asset(type, 'imageFile') }}" />
                 </div>
            </div>

                 
              <div>
                 {% for pro in property %}
                 <h2 style="text-align:center; font-size: 50px;">{{ pro.price }} € </h2>
                 {% endfor %}
              </div>
              
              
              <div>
                 {{ form_start(form) }}
                    <div style="display: flex; justify-content:center; margin-top: 100px;">
                        <div>
                          <div style="margin-bottom: 20px;">
                             {{ form_row(form.firstName) }}
                        </div>
                         <div style="margin-bottom: 20px;">
                             {{ form_row(form.name) }}
                        </div>
                         <div style="margin-bottom: 20px;">
                             {{ form_row(form.email) }}
                        </div>
                         <div style="margin-bottom: 20px;">
                             {{ form_row(form.phonNumber) }}
                        </div>
                        <div style="margin-bottom: 20px;">
                             {{ form_row(form.city) }}
                        </div>
                        <div style="margin-bottom: 20px;">
                             {{ form_row(form.street) }}
                        </div>
                        </div>


                      <div style="margin-left: 100px;">
                          <div style="margin-bottom: 20px;">
                             {{ form_row(form.startDate) }}
                          </div>
                          <div style="margin-bottom: 20px;">
                             {{ form_row(form.endDate) }}
                          </div>
                          <div style="margin-bottom: 20px;">
                             {{ form_row(form.sleepingAdult) }}
                          </div>
                          <div style="margin-bottom: 20px;">
                             {{ form_row(form.sleepingChild) }}
                          </div>
                            <div style="margin-bottom: 20px;" id="swiming-option">
                             {{ form_row(form.swimingPoolOption) }}
                           </div>

                       
                           <div style="margin-bottom: 20px;" id="swiming-adult">
                             {{ form_row(form.swimingPoolAdult) }}
                          </div>

                           <div style="margin-bottom: 20px;" id="swiming-child">
                             {{ form_row(form.swimingPoolChild) }}
                          </div>
                    </div>


                    </div>
              </div>
               <div style="display:flex; justify-content:center; margin-top: 20px;">
                   <div>
                         {{ form_row(form.submit) }}
                   </div>
               </div>
                 {{ form_end(form) }}
         


 {% endblock %}