{% extends "base.html.twig" %}

{% block title %} App Camping {% endblock %}

{% block body %}

<style>
body {
     background-color: #eba834;
}
a {
      color: #fff;
}
#div {
     background-color: black;  
}
h1 {
      color: #fff;
      border: 4px black solid;
      background-color: black;
}
</style>


      <h1 style="text-align: center; color: pink; text-shadow: 0 2px 1px black;">Bienvenue sur ce "SUPER" site de "CAMPING" de l'espadrille volante</h1>
          <a href="{{ path('security_login') }}" style="color: black; font-size: 30px; text-shadow: 0 0 2px #fff;">S'identifier</a>

          {% if message != '' %}
             <div style="text-align:center; font-size:30px;" > {{message}} </div>
          {% endif %} 

<div style="display: flex; justify-content:center;">
      {% for type in types  %}
        <div id="div">
            <a href="{{ path('detail', {'id': type.id}) }}"> <h2> {{ type.label }} </h2> </a>
                 <a href="{{ path('detail', {'id': type.id}) }}">  <img style="width:400px; height: 300px;" src="{{ vich_uploader_asset(type, 'imageFile') }}" alt=""> </a>
        </div>
      {% endfor %}
 </div>



{% endblock %}