{% extends "base.html.twig" %}

{% block title %} Espace Admin {% endblock %}




{% block body %}

       
<style>
     body {
         background-color: #7B7F7D;
     }
     h1 {
         font-size: 50px;
         text-align: center;
     }
     h2 {
          font-size: 30px;
         text-align: center;
     }

      .bill-block {
          display: flex;
          justify-content: center;
          margin-bottom: 70px;
      }
      .bill-container {
          border: 1px black solid;
          background-color: #D8DAD9;
          flex-basis: 700px;
          padding: 20px;;
      }



      .date-and-num-block {
            display:flex;
            justify-content: flex-end;
      }

      .bill-lines-block {
          display: flex;
          justify-content: center;
          margin-top: 50px;
      }

      .customer-parent-block {
           display: flex;
           justify-content: space-between;
      }

    table
    {
        border-collapse: collapse; 
        width: 800px;
    }
    td
    {
        border: 1px solid black;
        padding: 10px;
    }
    #total-div {
        margin-top: 20px;
    }

    span {
        color: #76F8B7;
    }

</style>
         
 

       <h1>Liste des facture <span>$</span>  </h1>


       {% for bill in bills %}

       <div class="bill-block">
            <div class="bill-container">
                 
                 <h2>{{ bill.companyName }}</h2>

             <div class="date-and-num-block">
                <div class="date-and-num-container">
                    <div>
                        <p>date : {{ bill.createdAt | date("m/d/Y") }}</p>
                     
                    </div>

                    <div>
                        <p>No de facture : {{ bill.id }}</p>
                    </div>                  
                </div>
             </div>

        <div class="customer-parent-block">
           <div class="customer-block">
             <div class="customer-container">
                <h3>Facturé à:</h3>

                   <p>Nom : {{ bill.billCustomerInfo.name }}<p>
                   <p>Prènom : {{ bill.billCustomerInfo.firstName }}</p>
                   <p> {{ bill.billCustomerInfo.street }}, {{ bill.billCustomerInfo.city }} </p>
             </div>
           </div>

          <div class="customer-block">
             <div class="customer-container">
                <h3>Expédié à:</h3>

                   <p>Nom : {{ bill.billCustomerInfo.name }}<p>
                   <p>Prènom : {{ bill.billCustomerInfo.firstName }}</p>
                   <p> {{ bill.billCustomerInfo.street }}, {{ bill.billCustomerInfo.city }} </p>
             </div>
           </div>
        </div>



        <div class="bill-lines-block">
             <div class="bill-lines-container">
                 <table>
                      

                      <tr>
                         <td>Description</td>
                         <td>Quantité</td>
                         <td>Prix à l'unité</td>
                         <td>Prix total</td>
                      </tr>
                      
                      

                    {% for line in bill.billLines %}
                             <tr>
                                <td>{{ line.description }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.unitPrice | number_format(2, ',', '')  }} € </td>
                                <td>{{ line.totalPrice | number_format(2, ',', '')  }} € </td>
                             </tr>

                            
                             
                    {% endfor %}
                 </table>

                    <div id="total-div">TOTAL avec TVA: {{ total }} € </div>
                    <div id="total-div">TOTAL hors taxe: {{ totalHT }} € </div>
             </div>
        </div>




            </div>
       </div>
       {% endfor %}

{% endblock %}